.container-blog{
   
    display: flex;
   
    
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 80px 80px; 
}

.container-blog2{
    
    width: 66.6%;
}
.post-boxeds{
    width: 100%;
    display: flex;
    
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom:2px solid #f1f1f1 ;
}
.post-calendar{
    width: 34.6%;
    padding:  0 0 0 50px;
   
    border-left: 2px solid #f1f1f1 ;
    margin-left: 20px;
    
}
.post-calendar .cl1{
    border-top:2px solid #e3e2e7;
    border-bottom:2px solid #e3e2e7;
    padding: 50px 0;
}
.img1{
    height: auto;
    max-width: 100%;
    background: no-repeat;
    background-size: cover ;
}
.post-6{
    
    max-height: 371px;
    background-size: cover;
}

.post-day .post-day1:hover{
    background:#ffba00;
    

}

.post-day .post-day1{
    transition: ease all 0.5s;
    margin: 0 20px;
    border-radius: 100%;
    padding: 10px 19.5px;
    text-align: center;
    background: #f1f1f1;
    display: inline-block;

}
.post-day div span{
    font-weight: 700;
}

.post-day .post-day2{
    width: 42px;
    font-weight: 700;
    font-size: 35px;
    color: #4555b9;
}

.post-text{
    padding: 20px 0;
}
.post-text span{
    color: #737373;
    font-size: 16px;

}
.post-text h3{
    cursor: pointer;
    font-weight: 700;
    color: #292929;
    font-size: 36px;
    transition: all 0.5s ease;
    line-height: 2.5rem;

}
.post-text h3:hover{
    color: #4555b9;
}
/**/

/**/
.c-Categories h5{
    padding: 26px 0;
    font-size: 22px;
    font-weight: 700;
    color:#292929;
}
.c-Categories ul li{
    color: #737373;
    margin-top:5px ;
    transition: all ease 0.5s;
    cursor: pointer;
    
}
.c-Categories ul li:hover{
    color: #ffba00;
}
/*post-navigation*/
.post-navigation{
    padding: 50px 0;
    display: flex;
}
.post-navigation div{
    font-weight: 700;
    padding: 14px 18px;
    margin: 0 15px 0 0 ;
    border: 1px solid #e3e2e7;;
    transition: 0.5s ease all;
    color: #737373;
    cursor: pointer;
}
.post-navigation div:hover{
    color: white;
    background: #ffba00;

}
.next-bt{
    color: #4555b9 !important;
    border: none !important;
   

}
.next-bt:hover{
    background: none !important;
    color: #ffba00 !important;
}
/*calendar*/
.post-calendar caption {
    color: #ffffff;
    background-color: #FFBA00;
    font-family: Lato, sans-serif;
    font-size: 16px;
    padding: 10px;
   }
.post-calendar caption i{
    transition: all ease 0.5s;
    cursor: pointer;
   position: relative;
   right: 100px;
   color: #FFC40A;
   color: rgba(255,255,255,0.3);
   font-size: 20px;
}
.post-calendar caption i:hover{
    color: #ffffff;
}
.post-calendar th {
    color: #272c4c;
 
}
.post-calendar th {
    
    padding: 12px 0;
    font-weight: inherit;
    position: relative;
}
.post-calendar tbody td {
    position: relative;
    text-align: center;
    line-height: 44px;
    height: 44px;
}
.post-calendar table {
    margin-bottom: 0;
    table-layout: fixed;
    width: 100%;
    position: relative;}

    table{border-collapse: collapse;
    border-spacing: 0;}
.post-calendar tbody td:not(.pad):after {
    content: '';
    width: 38px;
    height: 38px;
    
    top: 50%;
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    display: block;
    border-radius: 50%;
    border: 1px solid #ececec;
}
/*form-post*/
.form-post{
    display: flex;
    padding: 0 0 50px 0;
    border-bottom: 2px solid #e3e2e7;
}
.form-post form input{
    
    padding: 10px 25px;
    
    border: 2px solid #E3E2E7;
    border-right: none;
}
.form-post .in{
    transition: all ease .5s;
    font-weight: 600;
    padding: 10px 20px;
    background: #ffba00;
    color: #ffffff;

}
.form-post .in:hover{
    background: #4555b9;

}
@media (max-width:1068px){
    .container-blog{
        display: block;
        
    }
    .container-blog2{
        width: 100%;
    }
    .post-boxeds{
       
        width: 100% !important;
    }
    .post-calendar div{
        

    }
    .post-calendar{
        width: 100%;
        padding: 0 0 20px 0 ;
        border-left: 0; 
        margin-left: 0;
    }

}
@media (max-width:640px){
    .container-blog{
       
        padding: 50px 15px 0 15px;
    }
    .post-boxeds{
       
        width: 100% !important;
    }
    .post-boxeds{
        display: block;
        width: 100%;
    }
    .post-boxeds div{
        display: block;
    }
    .post-day .post-day1 {
        margin: 0 0 20px 0;
    }
    .post-text h3{
        font-size: 27px;

    }
    .post-6{
       
   

    }

}
