@media (max-width:768px){
    .layouts-row{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
        
        height: auto;
        margin: 0 0 0 15px;
      
        
    }
    .Home-layouts-heading-hr{
        height: 31px;
        border-left: 4px solid #FFBA00;
        margin:  0 0 70px 10px;
      
    }
    .Home-layouts-heading-hr div{
        font-size: 27px;
    }
    .elemetor-boxed-container{
        display: inline-block;
        padding: 50px 0; 
        
        
        
    }
    .elementor-boxed-populat{
        height: auto;
        padding: 30px 0;
        
        border: none;
        width: 100%;
    }
    /*statistika*/
    .container-statistika{
       
      
     
    }
    
    .row-r{
        display: block;
        flex-direction: column;
        padding: 40px 0;
        
    }
    .colr-3{
        width: 100%;
        padding: 0;
    }
    .statistics-item div:first-child{
        padding: 20px 0;
        font-size: 48px;

    }
    /*Header info*/
    .header-info-container-contact{
        width: 100%;
    }
    .header-info-container-contact span{
        margin: 15px auto;
        display: block;
        text-align: center;
       
    }
   
   .header-info-container-icon{
    margin: 7px auto;
      
   }
   .content-inner{
     margin: 120px auto;

   }
   .slider-content {
    
    height: 83%}

   /*icon menu*/
   .header-info-container .icon-menu{
       display:block;
      cursor: pointer;
       box-shadow: 0 0 5px rgb(120 136 236);
       color: #000000;
       background-color: #ffffff;
       position: fixed;
       z-index: 1;
       

   }
   /**/
   .header-nav-container{
       height: 104px;
   }
   .header-nav-buton li{
       display: none;
   }
   .header-nav-logo{
       margin: 0 auto;
   }
   .content-inner-title{
       font-size: 35px;
       font-size: 30px;
    margin: -11px 0px 0px 0px;
    }
   .contet-inner-hr {
    border-left: 3px solid #FFBA00;
    padding: 0px 0px 0px 10px;
    margin: 0px 0px 0px -10px;
    
    }
    .contet-inner-desc{
        font-size: 16px;
        margin: 15px 0 34px;
    }
    .contet-inner-button{
        margin: 0 auto;
        
    }
    .contet-inner-button a{
        display: block;
	    width: 186px;
    	padding: 15px;
        margin: 20px 0 0 0  ;
    }
    #Section-boxed{
    position: relative;
    top: -140px;

    }
    /*-------------------*/
    /*elementor-boxed*/
    .templates-boxed{
        height: auto;
        padding: 0;
    }
    .templates-boxed-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        
        
    }
    .templates-boxes-inside{
       
            width: 100%;
            padding: 0 100px 0 0;

    }
    .templates-boxes-inside div{
       


        
    }
    .Support-container-text{
        text-align: center;
        font-size: 27px;
    }
    .boxes-in-boxes-templates{
        margin: 70px 0 0 10px;
        padding: 0 0 0 10px;
        border-left: 3px solid #FFBA00;
        font-size: 27px;
    }
    .elementor-boxed{
    margin: -140px 0 0 0;
    }
    .boxes-in-boxes-p{
        margin-left: 20px;
    }
    .Support-container-text1{
        padding: 0 30px;
    }
    /*fixed-navbar*/
   
    .fixed-container{
        display: none;
    }
    .ul-color-fixed{
        color: white;
    }
}   
/*burger menu*/
.fixed-container{

	background:#272C4C;
	height: 50px;

	width: 100%;}
.navbar-fixed-boxed{
	width: 90%;
	margin: 0 auto;
	height: 50px;
	display: flex;
	justify-content:space-between

}
.navbar-fixed-logo {
	margin: auto 0;
}
.ul-color-fixed{
	color: white;
}

/*burger-menu*/
.burger-menu{
	z-index: 2;
	display: block;
	position: fixed;
	transition: 0.5s;
	top: 0;
	right: 0;
	
	width: 0;
	overflow: hidden;
	height: 100% !important;
	display: flex;
}
.menu-boxed-br{
	background: red;
	width: 100%;
	background: #272C4C;

}
.burger-menu a{
	display: block;
}
.fa-times{
    position: relative;
	top: 10px;
	background: white;
	color:black;
	padding: 10px 13px;
	border: 2px solid black;
	box-shadow: 0 0 5px rgb(120 136 236);
}
.fa-bars{
	border: 2px solid black;
}
.menu-boxed-br .header-nav-buton ul li{
	padding: 10px 0 20px 10px;
	display: block;
	
}
.menu-boxed-br .header-nav-buton ul{
	display: block;

	
}