



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, select, textarea, button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
.navbar-fixed{
	
}
body {
   /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	line-height: 1;*/
	font-family: 'Lato',sans-serif;
    -webkit-text-size-adjust: 100%;
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
}
img {
    border: 0;
}
:focus {
    outline: 0;
}
.clear {
    clear: both;
}
/*Reset CSS*/


/*Header info */

.header-info{
	background:#272C4C;
	color:white;
	width: 100%;

}
.header-info-container{
	width: 90%;
	padding: 12px 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin:  auto;
	
	
	
}
.header-info-container-contact{
	margin: 5px 0;
	
}
.header-info-container-contact span{
	color: #dddddd;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	
	margin: 0 15px 0 0px;
	
	

}

.header-info-container-contact i {
	
	font-size: 20px;
	margin: 0 15px 0 0;
	
	
}



.header-info-container-icon :hover{
	color: #FFBA00;
	cursor:pointer;
	transition: all .5s ease;
	
	
	
}
.header-info-container-icon{
	display: flex;
	align-items: center;
}
.header-info-container-icon i{
	
	font-size: 18px;
	margin: 0 13px ;

	
}
.header-info-container .icon-menu{
	
	padding: 9.5px 10.5px;
	display: none;
    /*display: none;*/
    position: absolute;
	top: 10px;
	right: 10px;
}
/*sssssssss*/
.testimonials-cont{
 
	width: 100%;
}
.twe-cont{
  width: 50%;
  margin: 0 auto;
  padding: 65px 0 100px 0;
  
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  color: #292929;
}
/*big*/
#bg1{

 
  background: #FFBA00;
  border: 0px;
  width: 50px;
  height:6px;
  margin: 35px auto;
}
/**/
/**/

.post-full{
	width: 100%;
	
	
}
.col-30{
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
	width: 25%;
	height:395px;
	
	
	
	
}
.col30-img-cont{
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	height: 100%;
	
	
  
}
.txt-img{
	padding: 200px 15px 20px 15px;

	

}
.txt-img h3{
	color: #FFBA00;
	font-weight: 700;
	font-size: 22px;
	padding: 20px 0 !important;
	transition: all ease 0.4s;
	cursor: pointer;


}
.txt-img h3:hover{
	color:#ffff;
}
.txt-img span{
	
	font-size: 16px;
	color: #dddddd;

}
.col{
	object-fit: cover;
	

}
.col11{
	height: auto;
    max-width: 100%;
}

/*;
   */

   @media (max-width:1068px){
	.row{
		display: block;
        flex-direction: column;

	}
	.row .col-30{
		display: block !important;
		width: 100% !important;
		
		
	}
	

   }