html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, select, textarea, button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
   /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	line-height: 1;*/
	font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
}
img {
    border: 0;
}
:focus {
    outline: 0;
}
.clear {
    clear: both;
}
/*Reset CSS*/


/*Header info */
.header-info{
	background:#272C4C;
	color:white;

}
.header-info-container{
	width: 100%;
	line-height: 53.5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
.header-info-container-contact{
	margin-left: 94px;
}
.header-info-container-contact span{
	color: #dddddd;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	

}
.header-info-container-contact i {
	margin: 0 15px 0 25px;
	
	
}

.header-info-container-contact i{
	font-size: 20px;


}
.header-info-container-icon {
	margin-right: 87px;
}
.header-info-container-icon i{
	font-size: 18px;
	margin: 0 13px ;

	
}
/*Header info end*/


/*.header-info navbar*/
.header-nav-container{
	
	color: white;
	height: 155px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-nav-logo{
	margin-left: 100px;
}
.header-nav-logo span{
	font-size: xx-large;
}
.header-nav-buton{
	margin-right: 100px;
	display: flex;
	align-items: center;
}
.header-nav-buton ul{
	display: flex;
	

}
.header-nav-buton ul li{
	font-size: 15px;
    font-weight: 700;
    line-height: 1.9em;
    font-family: 'Lato', sans-serif;
    margin: 0px 28px 0 0;
}

.header-nav-buton ul li i{
	margin: 0 0 0 10px;

}
/*.header-info navbar end*/

/*slider section*/
#slider{
	height: 820px;
	position:relative;
	
	
}
.slider-content{
	width: 100%;
	height: 100%;
	background: url(/Myprojects/template-Fabricator/img/slider-backraund.jpg) center center no-repeat  ;
	background-size:cover;
	

	
    
	
	

}
.content-inner{
	
	
	height:319px;
	width: 100%;
	position: absolute;
	top: 250px;

	/*left: 100px;*/


} 
.contet-inner-text{
	position: absolute;
	left: 100px;
	
}
.content-inner-title{
	
	font-family: 'Lato', sans-serif;
    font-size: 64px;
    line-height: 1.1875;
    color: white;
    letter-spacing: 0em;
	margin: 30px 0 0 0;

	
	
	

}
.contet-inner-hr{
	
	
	border-left: 6px solid #FFBA00;
	padding:0 0 0 40px;
	margin-left:60px ;
	
	
}
.contet-inner-desc{
	font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    color: #dddddd;
    letter-spacing: 0em;
	margin:41px 0 50px ;
}
.contet-inner-button {
	width: 1140px;
	height: 57px;
	
	font-family: 'Lato', sans-serif;
	
	
	
}
.contet-inner-button a {
	margin-right: 30px;
	display: inline-block;
	width: 245px;
	height: 57px;
	border: 2px solid white;
	color: white;
	font-weight: 600;
    line-height: 57px;
	text-align: center;
	

}


.button-byfabricator{
	background: #FFBA00;
	color: #272C4C !important;
	border:none !important ;
}
.contet-inner-button a:hover{
	transition:all .6s ease;
	background: white;
	color: #4555b9;
}
.button-byfabricator:hover{
	background: #4555b9 !important;
	color:white !important; 
}
/*END slider section */

/*Start Section Home-layouts*/
#Section-boxed{
	background:#F1F4FC;
	width: 1349px;
	height: 1102px;
}
.Home-layouts-container{
	position: relative;
	top: 110px;
	
}
.Home-layouts-heading-hr{
	
	border-left: 6px solid #FFBA00;
	padding:0 0 0 40px;
	margin-left:60px ;

}
.layouts-row{
	display: flex;
}

.Home-layouts-heading{
	font-size: 36px;
	font-family:'Lato',sans-serif;
	color: #292929;
	font-style: normal;
    font-weight: 700;
	width: 1105px;
	height: 42px;
}

.elemantor-row{
	
	width: 572.84px;
	height: 355px;
	position: relative;
	left: 90px;
	top: 43px;
	margin-right: 21px;
	margin-bottom: 60px;	
}
.elementor-row-img{
	width: 547px;
	height: 345px;
	background: url(/Myprojects/template-Fabricator/img/minibackrand.jpg) center center no-repeat !important;
	background-size:cover;
}

.minibackrand2{
	background: url(/Myprojects/template-Fabricator/img/minibackrand2.jpg) center center no-repeat !important;
	background-size:cover;

}
.minibackrand3{
	background: url(/Myprojects/template-Fabricator/img/minibackrand3.jpg) center center no-repeat !important;
	background-size:cover;
}
.minibackrand4{
	background: url(/Myprojects/template-Fabricator/img/minibackrand4.jpg) center center no-repeat !important;
	background-size:cover;

}

.elementor-row-img-h4{
	border-left: 3px solid #FFBA00;
	line-height: 34px;
	padding-left:20px ;
}
.elementor-row-img-h4 h4{
	font-size: 24px;
	font-family: 'Lato', sans-serif;
	color: #4555b9;
	font-weight: 600;

}
/* end Section Home-layouts*/

/*start elementor-boxed*/
.elementor-boxed{
	display: flex;
	background: #4555b9;
	
	

}
.elemetor-boxed-container{
	display: flex;
	color: #ffffff;
	
	
	
	margin-right: auto;
    margin-left: auto;
    position: relative;
	

}
.elementor-boxed-populat{
	color: #ffffff;
	height: 292px;
	width: 379.98px;
	padding: 117px 16px;
	text-align: center;
	

	
	

}
.elementor-boxed-populat-border{
	border-left: 0.5px solid #6a77c7 ;
	border-right: 0.5px solid #6a77c7 ;

}
.elementor-boxed-populat span{
	font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22222;
    font-family: Lato, sans-serif;
    letter-spacing: 0em;
    text-align: inherit;

}

.elementor-boxed-populat div i {
	font-size: 40px;
	color: #FFBA00;
	margin: 0 0 15px;
	
}
