{% extends 'admin/base.html' %} {% block content %}
<h3 class="my-2">Footer</h3>

<h4 class="my-2">Add New </h4>

<form action="/admin/footer" method='POST' enctype="multipart/form-data">
    <input type="text" class="form-control my-2" name='f_location' placeholder="location">
    <input type="text" class="form-control my-2" name='f_email' placeholder="email">
    <input type="text" class="form-control my-2" name='f_number' placeholder="number">
    <input type="text" class="form-control my-2" name='f_facebook' placeholder="facebook">
    <input type="text" class="form-control my-2" name='f_twitter' placeholder="twitter">
    <input type="text" class="form-control my-2" name='f_youtube' placeholder="youtube">
    <input type="text" class="form-control my-2" name='f_insdagram' placeholder="insdagram">
  
    <input type="submit" class="btn btn-primary px-2 my-2" value='Add New Slide'>
</form>

<h4 class="my-2">All Footer</h4>

 <table class="table">
    <thead>
        <tr>
            <th>f Title</th>
            <th>f Header</th>
            <th>f URL</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for f in footers %}
       
        <tr>
            <td scope="row">{{f.f_email}}</td>
            <td>{{f.f_number}}</td>
            <td>{{f.f_facebook}}</td>
            
            <td>
                <a href="/delete_f/{{f.id}}">Delete</a>
                <a href="/update_f/{{f.id}}">Update</a>
            </td>
        </tr>
        {% endfor %}

    </tbody>
    
</table> 
{% endblock %}