{% extends 'admin/layout.html' %} {% block content %}
<h3 class="my-3">Update User</h3>


<form action="/update/{{bl.id}}" method='POST'>
    <input type="text" class="form-control my-2" name='b_title' placeholder="Your Name" value={{bl.b_title}}>
    <input type="text" class="form-control my-2" name='b_header' placeholder="Your Surname" value={{bl.b_header}}>
    <input type="text" class="form-control my-2" name='b_url' placeholder="Your Name" value={{bl.b_url}}>
    <input type="text" class="form-control my-2" name='b_gun' placeholder="Your Surname" value={{bl.b_gun}}>
    <input type="submit" class="btn btn-primary my-2" value='Update'>
</form>

{% endblock %}
